
/*
* file 1
*/

#topLine{
	color: red;
    font-style: italic;
    border: 1px solid black;
}
body {
    font-size: 20px;
}

h1,h2,h3,h4 {
	color: blue;
	text-align: center;
}
.centered-box {
  position: fixed; 
  top: 50%;
  left: 50%;
  width: 800px;
  margin-top: -150px;
  margin-left: -300px;
}